body { 
  padding: 0; margin: 0;
  background-color: #eadec2;
  font: 16px helvetica, arial;
}

.header {
  display: flex;
  justify-content: flex-end;
  margin: 5px 5px 15px 5px;
}

.button {
  font-size: 1.4rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  border: solid 0;
  margin: 0 5px;
  padding: 0.5rem;
}
button:hover {cursor: pointer; }

.shuffleButton { background-color: #adade2; }
.addButton { background-color: #78d278; }

.cards { 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}

.card {
  position: relative;
  background-color: #fff;
  width: 60px;
  height: 100px;
  border: solid 1px #000;
  margin: 5px; 
}
.card:hover {cursor: pointer; }


.card .tr, .card .bl {
  position: absolute;
}

.card .tr {
  right: 5px;
  top: 5px;
}

.card .bl {
  bottom: 5px;
  left: 5px;
}

@media screen and (min-width: 1024px) {
  .cards { 
    margin: 0 auto;
    width: 80%; 
  }
}